<h1>SUPPLY HUB</h1>

<ul>
	<li>BEDS</li>
	<ul>
		<li>Amendments</li>
		<li>Amendment Calculator</li>
		<li>Confirmations</li>
		<li><%= link_to 'Hotel Changes', controller: 'hotel_changes' %></li>
		<li>Profit & Loss</li>
	</ul>
	<li>FEEDBACK</li>
	<ul>
		<li>Complaints</li>
	</ul>
	<li>OPERATIONS</li>
	<ul>
		<li>Alt Calculator</li>
	</ul>
</ul>